<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="cancle()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>users</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>All users</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let user of allUsers | async" (click)="toggleUser(user)" [class.choosen]="choosenUsers.includes(user)">
      <ion-avatar slot="start">
        <img [src]="user.image">
      </ion-avatar>
      <ion-label>
        {{user.username}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>