:host{
    .chat-group{
        h3{
            width: 100%;
        }
        p{
            width: 100%;
        }
        .empty-chat{
            font-weight: 400;
            font-style: italic;
        }
    }
}